:root {
  --bg-blue: #2f4468;
}

.app-container {
  background-color: var(--bg-blue);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
}

h1 {
  font-family: "Cherry Swash", cursive;
  font-size: 3.6rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-right: 2.5rem;
  background-color: white;
  color: black;
  border: 1px solid #bfbebb;
  border-radius: 5%;
  box-shadow: 5px 5px 20px black;
  width: auto;
  /* border: 1px solid red; */
}

label {
  text-align: left;
  margin-right: 1rem;
}

.inputs-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  /* border: 1px solid red; */
}

input {
  margin: 10px 0;
  padding: 0.5rem 1rem;
  font-size: large;
  /* width: 90%; */
  border: 2px solid #c9cbce;
  background-color: white;
  border-radius: 5px;
  outline: none;
}

input:active,
input:hover,
input:focus {
  border: 2px solid #00a2dd;
  background-color: #c6eaf7;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.title-bottom {
  margin-bottom: 0.4rem;
}

.totals {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  background-color: #00a2dd;
  color: white;
  border-radius: 10px;
  padding: 1.2rem 2rem;
}

.total-text {
  font-size: 1.6rem;
  font-weight: bold;
}
